<?xml version="1.0"?>
<launch>
    
    
    <!--################ Package #################-->
    <node pkg="path_follower_husky" type="path_follower_husky" name="followerNode" output="screen" 
        launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " 
        args="$(arg vel) $(arg ang)"/>

</launch>

