<launch>
<!-- Current Version by Kheng Yu Yeoh, contact @ khengyu_061192@hotmail.com -->
    <!--################# Args ###################-->
    <!-- 
        For use on CLI e.g. "roslaunch husky_mpcc husky_mpcc.launch rviz:=0"
    -->

    <arg name="node_start_delay" default="5.0"/>
    <arg name="gazebo" default="1"/>
    <arg name="map" default="husky_eufs"/>
    <arg name="rviz" default="1"/>
  
    <arg name="comm" default="1"/> <!-- Want to communicate with SLAM and stuff -->
    <arg name="skip" default="1"/> <!-- Skip to Fast lap directly -->

    <!--############## Husky Gazebo ##############-->
    <!-- located in opt/ros/<distro>/share/husky_gazebo -->
    <!-- look at launch and world files and folders -->
    <group if="$(arg gazebo)">
		<!-- <include file="$(find husky_gazebo)/launch/husky_playpen.launch"/> -->
	        <!-- <include file="$(find husky_gazebo)/launch/husky_empty_world.launch"/> -->
        <include file="$(find husky_gazebo)/launch/$(arg map).launch"/>
	</group>
    
    <!--################# RVIZ ###################-->
    <group if="$(arg rviz)">
		<include file="$(find husky_viz)/launch/view_robot.launch"/>
	</group>
    
    <!--################ Package #################-->
    <node pkg="husky_mpcc" type="husky_mpcc" name="husky_mpcc" output="screen" 
        launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " 
        args="$(arg comm) $(arg skip)"/>

</launch>
